*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    height:100vh;
    font-size: 20px;
    background-color: black;
    align-items: center;
}

.main{
    display: flex;
    width: 100%;
    height: 100vh;
}

.mainImg{
    height: 100%;
    position: relative;
}

img{
    height: 100%;
}

.mainTitle{
    position: absolute;
    color:white;
    top: 25%;
    width: 100%;
    height: 110px;
    background-color: rgba(41,41,41,0.6);
    line-height: 110px;
    text-align: center;
}

.mainForm{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.formHead{
    height: 30%;
    background-color: aliceblue;
    color: black;
    padding: 20px;
}

.formFields{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

.formBase{
    height: 28%;
    background-color: aliceblue;
    padding: 20px;
}

.formMain{
    height: 30%;
    background-color: white; 
    box-shadow: grey 10px;
}

form{
    height: 25%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 75%
}

.fields{
    display: flex;
    justify-content: space-evenly;
    align-content: end;
    display: flex;
    flex-direction: column;
    width: 50%;

}

input, label{
    background-color: white;
    color: black;
    width: 95%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 30px;
}

button{
    width:300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #596D48;
}   

label{
    font-size: 1rem;
    color: rgb(78, 76, 76);
    display: flex;
    align-items: flex-end;
}

input{
    border: #E5E7EB solid;
    border-radius: 10px;
}

input:hover{
    border: rgb(19, 93, 189) solid;
}

input:required{
    border: rgb(189, 34, 34) solid;
}
